<div class="content">
  <form (ngSubmit)="register()" >
    <div class="inputs" style="display: flex; flex-direction: row">
      <div style="display: flex; flex-direction: column">
        <label for="name">Nombre: </label>
        <input type="text" [(ngModel)]="name" name="name" required />
      </div>
      <div>
        <label for="lastname">Apellido: </label>
        <input type="text" [(ngModel)]="lastname" name="lastname" required />
      </div>
    </div>
    <!---------------------------------------------------------------------->
    <div class="inputs" style="display: flex; flex-direction:row-reverse">
      <div style="display: flex; flex-direction: column">
        <label for="username">Nombre de Usuario: </label>
        <input type="text" [(ngModel)]="username" name="username" required />
      </div>
      <div>
        <label for="cell">Número Telefonico: </label>
        <input type="text" [(ngModel)]="cellphone" name="cell" required />
      </div>
    </div>
    <!---------------------------------------------------------------------->
    <div class="inputs">
      <label for="birth" >Fecha de Nacimiento: </label>
      <input style="width: 99.5%;" type="date" [(ngModel)]="dob" name="birth" required />
    </div>
    <div class="inputs" style="display: flex; flex-direction: row">
      <div style="display: flex; flex-direction: column">
        <label for="password">Contraseña: </label>
        <input
          [(ngModel)]="password"
          type="password"
          name="password"
          required
        />
      </div>
      <div>
        <label for="confirmPassword">Confirma tu contraseña: </label>
        <input
          [(ngModel)]="confirmPassword"
          type="password"
          name="confirmPassword"
          required
        />
      </div>
    </div>
    <button type="submit">Registrate</button>
    <p>¿Tienes una cuenta? <a (click)="goToLogin()">Inicia Sesión</a></p>
  </form>
</div>
<router-outlet></router-outlet>
