<form method="post" action="/">
    <div class="input-group">
        <label for="username">Userame: </label>
        <input type="text" id="username" name="user" required>
    </div>

    <div class="input-group">
        <label for="password">Password: </label>
        <input type="password" id="password" name="password" required>
    </div>

    <div class="links">
        <div class="check">
            <label for="rememberPassword" class="custom-checkbox">
                <input type="checkbox" id="rememberPassword">
                <span class="checkmark"></span>
                Remember me
            </label>
        </div>
        
        <div class="forgotPass">
            <a href="#">Forgot password?</a>
        </div>
    </div>

    <button class="shiny-button" type="submit">Log In</button>
</form>
