html,
body {
  height: 100vh;
  background: #ffffff49;
  overflow: hidden;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  font: 100% Lato, Arial, Sans Serif;
}

.hidden{
  display: none;
  transform: translateX(-100%);
  opacity: 0; 
  transition: width 0.3s ease;
}

.display {
  display: flex;
  opacity: 1;
  margin-left: 25vw;
  width: 75vw;
  transition: width 0.3s ease; 
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999; /* Debajo del sidebar pero encima del contenido */
  display: none;
}

.overlay {
  display: block; /* Solo se muestra cuando el sidebar está visible */
}