/* Estilos generales del navbar */
nav {
    display: flex;
    left: 0;
    top: 0;
    height: 25px;
    justify-content: space-between;
    align-items: center;
    background-color: #d5e2d49f;
    padding: 13px;
    width: calc(100% - 6.5vw);
    margin-left: auto;
    
  }
  
  /* Contenedor de perfil alineado a la derecha */
  .profile {
    display: flex;
    align-items: center;
    margin-left: auto; /* Esto empuja el perfil a la derecha */
  }
  
  /* Estilo del botón de perfil */
  .itemProfile {
    border: none;
    cursor: pointer;
    border-radius: 100%;
    background-image: url(https://static.vecteezy.com/system/resources/thumbnails/026/630/551/small/profile-icon-symbol-design-illustration-vector.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size:contain;
    padding: 15px;
    position: relative;
  }
  
  /* Estilo para mostrar el contenido del menú */
  .itemProfile:enabled .menu-content {
    display: block;
    border: none;
  }
  
  /* Estilos del contenido del menú */
  .menu-content {
    display: block !important;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 120px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    right: 0;
  }
  
  
  