* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.body {
  height: 100vh;
  width: 94.8%;
  margin-left: 59px;
  background: #d5e2d4;
  overflow: hidden;
  padding: 10px;
  font: 100% Lato, Arial, Sans Serif;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.top {
  display: flex;
  gap: 5px;
  height: 80vh;
}

.div1 {
  flex: 2;
  background-color: #fafafa80;
  padding: 0 50px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 70%;
  max-height: 68vh; 
}

.div2 {
  flex: 1;
  background-color: #fafafa80;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 35%;
  height: 89vh;
}

.bottom {
  display: flex;
  gap: 6px; 
  justify-content: flex-start;
  flex-wrap: wrap;
  height: 20vh;
  margin-top: -90px; 
}

.bottom div {
  background-color: #fafafa80;
  padding: 15px;
  text-align: center;
  align-items: center;
  border-radius: 10px;
  width: 22.96%;
  min-width: 80px;
}

.div4 h1{
  font-size:3.5rem;
}

/* 🔹 RESPONSIVE: Ajustes para pantallas pequeñas */
@media (max-width: 1024px) {
  .top {
    flex-direction: column;
    height: auto;
  }

  .div1,
  .div2 {
    max-width: 100%;
    flex: none;
    height: 25vh;
    align-items: center;
  }

  .bottom {
    height: auto;
  }

  .bottom div {
    max-width: 50%;
    
  }
}

@media (max-width: 768px) {
  .bottom div {
    min-width: 100%;
    max-width: 100%;
  }
}
