<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div id="background-wrap" [class.hidden]="!showBubbles">
      <div class="bubble x1" [class.hidden]="!showBubbles"></div>
      <div class="bubble x2" [class.hidden]="!showBubbles"></div>
      <div class="bubble x3" [class.hidden]="!showBubbles"></div>
      <div class="bubble x4" [class.hidden]="!showBubbles"></div>
      <div class="bubble x5" [class.hidden]="!showBubbles"></div>
      <div class="bubble x6" [class.hidden]="!showBubbles"></div>
      <div class="bubble x7" [class.hidden]="!showBubbles"></div>
      <div class="bubble x8" [class.hidden]="!showBubbles"></div>
      <div class="bubble x9" [class.hidden]="!showBubbles"></div>
      <div class="bubble x10" [class.hidden]="!showBubbles"></div>
    </div>
    <router-outlet></router-outlet>
  </body>
</html>
