<div class="content">
  <form (ngSubmit)="login()">
    <div class="err" *ngIf="isError">
      <a style="color: #fff;" class="btn-err" *ngIf="errorMessage" (click)="isError = false">&times;</a>
      <p *ngIf="errorMessage" class="msg-err">{{ errorMessage }}</p>
    </div>    
    <div>
      <label for="username">Nombre de usuario: </label>
      <input type="text" [(ngModel)]="username" name="username" required />
    </div>
    <div>
      <div class="lav">
        <label for="password">Contraseña: </label>
        <div class="forgot-password">
          <a class="fpass" routerLink="/register">Olvide mi contraseña</a>
        </div>
      </div>
      <input [(ngModel)]="password" type="password" name="password" required />
    </div>
    <button type="submit">Inicia Sesión</button>
    <p>¿No tienes una cuenta? <a routerLink="/register">Regístrate aquí</a></p>
  </form>
</div>
<router-outlet></router-outlet>
