<div class="sidebar" [class.visible]="isVisible">
  <div class="log">
    <button
      class="sidebar-toggle-btn"
      [ngClass]="isVisible ? 'icon-open' : 'icon-closed'"
      (click)="toggleSidebar()"
    ></button>
    <p *ngIf="isVisible" class="toggle-text">CALLM</p>
    <span *ngIf="isVisible" (click)="toggleSidebar()" class="close-sidebar">
      &#10006;
    </span>
  </div>

  <br />

  <div class="routes-container">
    <div class="routes" data-tooltip="Inicio">
      <button class="item home"></button>
      <div class="link-content">
        <a (click)="dashboardRoute()">Inicio</a>
      </div>
    </div>
    <div class="routes" data-tooltip="Historial">
      <button class="item history"></button>
      <div class="link-content">
        <a (click)="historyRoute()">Historial</a>
      </div>
    </div>
    <div class="routes" data-tooltip="Acerca de">
      <button class="item about"></button>
      <div class="link-content">
        <a (click)="aboutRoute()">Acerca de</a>
      </div>
    </div>
  </div>

  <div class=" buttom-routes">
    <div class="routes">
      <div
        class="item theme-icon"
        [ngClass]="{ dark: isDarkTheme, light: !isDarkTheme }"
        *ngIf="!isVisible"
        [attr.data-tooltip]="isDarkTheme ? 'Tema oscuro' : 'Tema claro'"
      ></div>

      <!-- Switch solo visible cuando sidebar abierto -->
      <div
        class="theme-switch"
        *ngIf="isVisible"
        [class.active]="isDarkTheme"
        (click)="toggleTheme()"
      ></div>

      <div class="link-content">
        <a *ngIf="isVisible">Tema</a>
      </div>
    </div>
    <div class="routes">
      <div class="routes logout" data-tooltip="Cerrar Sesión">
        <button class="item logout"></button>
        <div class="link-content">
          <a (click)="logout()" >Cerrar Sesión</a>
        </div>
      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
