.sidebar {
  position: fixed;
  top: 0;
  left: -16vw;
  /* Oculta el sidebar por defecto */
  width: 20vw;
  height:90vh;
  margin-top: 9vh;
  background: #d5e2d4;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  transition: left 0.3s ease;
  z-index: 1000;
  /*items alineados abajo*/
  padding: 0px 5px;
}

.sidebar.visible {
  left: 0;
}

.routes-container {
  width: 100%;
  bottom: 0;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 0px 0px 5px;
}

.link-content{
  background: #ffffff00;
  width: 50%;
  border-radius: 10px;
  text-align: start;
  padding: 10px;
}

.routes {
  max-width: 90%;
  border-radius: 5px;
  display: flex;
  padding: 10px;
  background: #00000000;
  margin-bottom: 5px;
  flex-direction: row-reverse;
}

.routes.visible{
  display: flex;
  flex-direction: row;
}

:host([isVisible="true"]) {
  transform: translateX(0);
}

/*respo*/
@media (max-width: 768px) {
  .sidebar {
    width: 100%;
    height: 16%;
    transform: translateY(-105%);
    padding: 0px 10px;
  }

  .sidebar.visible {
    transform: translateY(0%);
  }

  .routes {
    width: 90%;
    text-align: center;
  }
}

/* Opcional: Overlay para fondo oscuro al abrir el menú */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
  display: none;
}

.overlay.visible {
  display: block;
}

.item {
  border-radius: 100%;
  padding: 20px;
  border: none;
  background-repeat: no-repeat;
  background-size: contain;
}

a {
  margin-top: 10px;
  font-size: large;
  position: relative;
  cursor: pointer;
  -webkit-background-clip: text;
  background-clip: text;
  background-image: linear-gradient(to left, #000000a4 30%, #ffffffa4 40%, #000000a4 70%);
  color: transparent;
  background-size: 200% auto;
  animation: shine 3s infinite;
  margin-left: 20px;
  align-items: center;
  text-align: center;
}

.item.home {
  background-image: url(https://i.pinimg.com/474x/76/a4/d7/76a4d75e8cf5ee7f4276810526115cf7.jpg);
}

.item.history {
  background-image: url(https://thumbs.dreamstime.com/b/icono-de-historial-reconstituci%C3%B3n-vector-276463515.jpg);
}

.item.about {
  background-image: url(https://previews.123rf.com/images/vectorhome/vectorhome2001/vectorhome200100068/152318980-por-qu%C3%A9-nosotros-icono.jpg);
}

@keyframes shine {
  0% {
    background-position: 100% center;
  }
  100% {
    background-position: -100% center;
  }
}
