<div class="sidebar" [class.visible]="isVisible">
  <div class="routes-container">
    <div class="routes">
      <button class="item home"></button>
      <div class="link-content">
        <a routerLink="/dashboard">Inicio</a>
      </div>
    </div>
    <div class="routes">
      <button class="item history"></button>
      <div class="link-content">
        <a routerLink="/dashboard">Historial</a>
      </div>
    </div>
    <div class="routes">
      <button class="item about"></button>
      <div class="link-content">
        <a routerLink="/dashboard">Acerca de </a>
      </div>
    </div>
  </div>
</div>
